# Created by https://www.toptal.com/developers/gitignore/api/osx
# Edit at https://www.toptal.com/developers/gitignore?templates=osx

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/osx
cmake-build-debug/
.idea/
!plots/*.py

build/
dat/
CMakeCache.txt 
CMakeFiles/ 
CTestTestfile.cmake 
DartConfiguration.tcl 
Makefile 
cmake_install.cmake
wm_*
#plots/experiment_output/tmp_*.csv
plots/box-plot-sigmod21/output/*
plots/full_set
plots/small_set
workplace/*.csv
workplace/*/
workspace/fetch_files_from_dichato.sh 
generate_output
experiment_output/*
!experiment_output/compactLTJ_out.csv
workplace/*.pdf
workplace/*.ods
*.out
callgrind*
workplace/*.png
fetch_files_from_*.sh
plots/**/*.svg
